{% extends 'base.html.twig' %}

{% block title 'Tous nos bien' %}

{% block body %}
    <div class="container">
        <h1>Voir tous nos biens</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur explicabo iste iure nihil nobis ratione repellat repudiandae ullam unde voluptates? Alias consequatur deserunt nostrum pariatur saepe! At expedita quod vero.</p>
    </div>

    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
        <p>carrousel des bien par 3, barre de criteres de recherche sur la gauche, nav bar fixed à chaque pages, en dessous du carrousel info sur fonctionnalité du site acheter louer etc, footer avec form/etc, </p>
        <p>se referer a la maquette</p>
            {% for property in properties %}
                <div class="col-3">

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}